# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.venv/
venv/
venvs/
.env
.env.*
*.log

# Django
*.sqlite3
staticfiles/
media/

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
dist/
build/

# OS / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/
